<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkNRn7zreIodtkTu6wPM0oHUaioqUqNJI</string>
	<key>GCM_SENDER_ID</key>
	<string>671754158468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miempresa.GonzalesSnapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-dd8d0</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-dd8d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671754158468:ios:7bae9c4bebd4a53d999dd1</string>
</dict>
</plist>